/* Webfont: Mersad-Thin */@font-face {
    font-family: 'Mersad';
    src: url('./../sources/Mersad Thin.woff2') format('woff2'), /* Modern Browsers */
         url('./../sources/Mersad Thin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

